#root {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: Kosugi, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}